
#errorCnt{
    width: 100%; 
    text-align: center; 
    padding-top:50px ;
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

#errorText::before{

    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    /* transform: translate(-20px, -10px); */
    background: black;
    animation: left ease-in-out .5s forwards;
}

#errorText::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    /* transform: translate(-35px, 45px); */
    background: black;
    animation: right ease-in-out .5s forwards;
}


@keyframes left{
    from{
        opacity: 0;
        scale: 0;
        transform: translate(-80px, -100px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translate(-20px, -10px);
    }
}

@keyframes right{
    from{
        opacity: 0;
        scale: 0;
        transform: translate(-20px, 80px);
    }
    to{
        /* opacity: 1; */
        scale: 1;
        transform: translate(-45px, 45px);
    }
}