:root {
    --primary-color: #2a2a2a;
    --gray-color:#f3f3f3;
    --secondary-color: #bf3033;
    font-family: 'Roboto', sans-serif;
}



.results_cnt{
    width: 100%;
    height: max-content;
    /* border: solid 1px #fff;
    background: #bf3033; */
    overflow: hidden;
}

.results_inner_cnt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    
}


.recipeCard{
    cursor: pointer;
    background-color: #bf3033;
    width: 250px;
    height: 320px;
    border-radius: 10px;
    margin:20px 50px ;
    box-shadow: 5px 5px 10px var(--gray-color);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    transition: all .2s;
}

.recipeCard:hover{
    transform: translateY(-5%);
}

.recipeImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 140px;
}
.recipeInfo{
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--primary-color);
    border-radius: 5px ;
    flex-direction: column;
}

.recipeTitle{
    color: #f3f3f3;
    font-size: 18px;
}

.recipeIcons{
display: flex;
justify-content: space-between;
flex-direction: column;
gap: 10px;

}
.recipeIcons div {

}
.cardInnerInfo{
    display: flex;
    width: 100%;
    align-items: center;
    

}
.recipeIcons div > span,p{
    color: var(--gray-color);
    margin: 10px 10px;
    word-wrap: break-word;
    
    
}

#card_image{
  display: block;
  height: 100%;
  object-fit: cover;
  width: fit-content;
  border-radius: 8px 8px 0 0;
}